@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }

    /* -------Footer------- */
    .footer-form-input {
        width: 398px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /* -------2 section Principles------- */
    .principles-list {
        gap: 24px;
    }

    .principles-list-item {
        width: calc((100% - 24px) / 2);
    }

    .principles-list-item:first-child,
    .principles-list-item:nth-child(2) {
        margin-bottom: 72px;
    }

    /* -------4 section Our Team------- */
    .team-section-list {
        padding-left: 92px;
        padding-right: 92px;
        gap: 24px;
    }

    .team-list-item {
        margin: 0;
    }

    /* -------5 section Customers------- */
    .customers {
        padding-left: 93px;
        padding-right: 93px;
    }

    .customers-list {
        margin: 0 auto;
        max-width: 552px;
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    .customers-list-item {
        width: calc((100% - 48px) / 3);
        max-width: 168px;
    }

    /* -------Footer------- */
    .footer-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
        align-items: baseline;
        justify-content: flex-start;
        padding-left: 93px;
        padding-right: 93px;
    }

    .footer-form-title {
        text-align: left;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
        justify-content: start;
    }

    .footer-form-input {
        max-width: 264px;
    }

}


@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    /* -------2 section Principles------- */
    .principles {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .principles-list-item {
        width: calc((100% - 72px) / 4);
    }

    .principles-list-item:first-child,
    .principles-list-item:nth-child(2) {
        margin-bottom: 0;
    }

    .principles-image {
        display: flex;
    }

    .principles-name {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin: 0;
        margin-bottom: 8px;
        text-align: left;
    }

    .principles-text {
        font-weight: 400;
        letter-spacing: 0.02em;
    }

    /* -------3 section What are we doing------- */
    .products {
        display: block;
    }

    /* -------4 section Our Team------- */
    .team-section {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .team-section-list {
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }

    .team-list-item {
        max-width: calc((100% - 72px) / 4);
        margin-bottom: 72px;
    }

    /* -------5 section Customers------- */
    .customers {
        padding-left: 0;
        padding-right: 0;
    }

    .customers-list {
        max-width: none;
    }

    .customers-list-item {
        width: calc((100% - 120px) / 6);
    }

    /* -------Footer------- */
    .footer {
        padding: 100px 0;
    }

    .footer-wrap {
        display: flex;
        align-items: baseline;
    }

    .footer-left {
        margin-right: 120px;
    }

    .footer-right {
        margin-left: auto;
        margin-right: 3px;
    }

    .footer-form {
        align-items: flex-end;
        gap: 24px;
    }
}